
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//themes
@import 'themes/light';
@import 'themes/dark';

// Variables
@import 'variables';

//basic setting
@import 'home';

//components
@import 'components';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-brand{
    font-size: 2rem;
}



